[user]
    name = <%- git.name %>
    email = <%- git.email %>
    editor = <%- editor %>
[alias]
    s = status
    c = commit
    co = checkout
    ca = commit -a
    d = difftool
    m = mergetool
    tree = log --graph --full-history --all --color --date=short --pretty=format:\"%Cred%x09%h %Creset%ad%Cblue%d %Creset %s %C(bold)(%an)%Creset\"
    list = stash list --pretty=format:\"%Cred%gd: %Creset%s %Cblue(%cr)\"
    unstage = reset --
[color]
	 ui = true
[core]
	 editor = vim
